/* body{
    background: blue;
} */
.navbar1{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color:white;
    display:inline-flex;
    float:right;
}
.nav1{
    
    float: right;
    font-size: 20px;
    float:right;
    color:rgb(205, 226, 14);
    
}
.fullName {
    
    float: right;
    font-size: 36px;
    font-weight: bold;
    float:right;
    color:white
   

    
}
.card-img-overlay{
color:white;


}
.card{
    margin: 30px;
    width: 380px;
    height: 250px;
    color: teal;
    

}
.card-text{
    color: teal;
}
.card-title{
    text-align: center;
font-size: 30px;
font-weight: bold;
    color:white; 
    background: local; 
    background-color: rgb(17, 17, 17);
    
}
.card-body{
    opacity: 50%;  
}

.contacts{
width:90%;
padding: 5%;
border: 1px solid gray;
background: grey;
padding:5px;
margin-top:130px;
margin-bottom: 50px;
color:white;
font-size: 20px;


}
#h1{
    float:left;
    font-size: 46px;
    color: black;
    padding: 30px;
}
.box{
    
    align-items: center;
    width: 60%;
    padding: 50px;
    margin: 30px;
    margin-top: 130px;
    border: gray 1px;
    background: gray;
    text size:20px
}
footer{
    clear: both;
    padding: 30px;
    color:white;
    background: #333;
    text-align: center;
}
.row1{

   display: grid;
}
.img-fluid{
    float:left;
    margin: 20px;
}
.niceText{

font-size: 20px;

color: white;
}
.imgInline{
    display: inline;
}

/* // Extra small devices (portrait phones, less than 576px) */

/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    margin-left: 15%;
    margin-right: 15%;
}

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */